/* ========================================
   GLOBAL PAGE SECTION SPACING
======================================== */

.website-sections > * + * {
  margin-top: 70px;
}


/* TABLET */

@media (max-width: 900px) {
  .website-sections > * + * {
    margin-top: 40px;
  }
}


/* MOBILE */

@media (max-width: 650px) {
  .website-sections > * + * {
    margin-top: 30px;
  }
}